<!--
<mat-card *ngFor="let cliente of clientes" class="mat-card-cliente-listagem">
  <mat-card-header>
    <mat-card-title><mat-icon>person</mat-icon>{{cliente.nome}}</mat-card-title><br>
    <mat-card-subtitle *ngIf="cliente.cpf">CPF: {{cliente.cpf}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="cliente.endereco">Endereço: {{cliente.endereco}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="cliente.telefone">Telefone: {{cliente.telefone}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="cliente.email">Email: {{cliente.email}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
-->
<div>
<table *ngFor="let cliente of clientes"  class="mat-elevation-z10">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell> Nome </th>
    <td mat-cell> {{cliente.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *ngIf="cliente.cpf"> CPF </th>
    <td mat-cell> {{cliente.cpf}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefone">
    <th mat-header-cell> Telefone </th>
    <td mat-cell> {{cliente.telefone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell> Tamanho </th>
    <td mat-cell> {{cliente.tamanho}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  </div>
