
<div class="mat-elevation-z4">
<table  *ngFor="let pedido of pedidos" aria-label="Elements" class="full-width-table-z10" >

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell >Name</th>
      <td mat-cell>{{pedido.nome}}</td>
    </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *ngIf="pedido.cpf"> CPF </th>
    <td mat-cell> {{pedido.cpf}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefone" >
    <th mat-header-cell >Telefone</th>
    <td mat-cell >{{pedido.telefone}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tamanho" >
    <th mat-header-cell>Tamanho</th>
    <td mat-cell >{{pedido.tamanho}}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action" >
    <th mat-header-cell>Ações</th>
    <td mat-cell >
      <a routerLink="" class="edit" (click)="editar(pedido)">
        <i class="material-icons">edit</i>
      </a>

      <a routerLink="" class="delete" (click)="remover(pedido)">
        <i class="material-icons ">delete_outline</i>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

