
.mat-elevation-z4{
  width: 1300px;
  margin-top: 10px;
  margin-left: 40px;
  flex-direction: row ;
  margin: 1rem;

}

.full-width-table-z10 {
  width: 100%;
}

table{
  margin: 1rem;
  margin-top: 1rem;
  margin-left: 0%;
  padding:5px 30px;
  padding-left: 0px;
  text-align-all: justify;
  text-align: right;
  background-color: ghostwhite;
  margin:1 auto;
  box-shadow: 0 2px 9px ghostwhite;
  border-spacing: 2px;
  cursor: pointer;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}

.edit > i{
  color: black;
}

.delete > i {
  color: #e35e6b;

}
