.mat-card-pedido-listagem{
  max-width: 400px;
  background-color: azure;
  margin-top: 10px;
  margin-left: 200px;
}
.mat-elevation{
  max-width: 200px;
  flex-direction: row;
  margin: 2rem;
  padding-right: 10px;
}
table{
  margin: 2rem;
  margin-top: 1rem;
  margin-left: 1%;
  width: 98%;
}
.edit > i{
  color: black;
}
.delete > i {
  color: #e35e6b
}
