.mat-card-inserirCliente{
  max-width: 800px;
  margin-left: 5px;
  background-color: lavender;
}
.mart-card-form{
  margin-right: 5px;
  margin-left: 200px;
}
.form-client{
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
}
.div-forms-client{
  width: 50%;
}
.mat-card-image{
  width: 50%;
}
.button-register-client{
  text-align: center;
}
button{
  margin: 1rem;
}