<mat-card class="mat-form-inserirCliente">
  <div class="form-client">
    <div class="div-forms-client">
    <mat-card class="example-card">
      <div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div>
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Observação</mat-label>
              <input matInput [(ngModel)]="cliente.obsevacao" placeholder="Observação">
            </mat-form-field>

      </div>
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Camisa TSI/mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>

  </div>
  <div class="example-container">

  <mat-form-field appearance="fill" class="mart-card-form">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="cliente.nome" placeholder="digite o nome">


  </mat-form-field>
  <br>
  <mat-form-field appearance="fill"class="mart-card-form">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="cliente.cpf" placeholder="digite o cpf">
  </mat-form-field>

<br>
  <mat-form-field appearance="fill"class="mart-card-form">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="cliente.telefone" placeholder="digite o telefone">
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill"class="mart-card-form">
    <mat-label>Tamanho</mat-label>
    <input matInput [(ngModel)]="cliente.tamanho" placeholder="digite o tamanho">
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Tamanho</mat-label>
    <select>
      <option></option>
    </select> -->
    <!-- <mat-select>
      <mat-option value="option">PP</mat-option>
      <mat-option value="option">P</mat-option>
      <mat-option value="option">M</mat-option>
      <mat-option value="option">G</mat-option>
      <mat-option value="option">GG</mat-option>
      <mat-option value="option">ExG</mat-option>
    </mat-select> -->
  <!-- </mat-form-field> -->

  </div>
  </div>

<div class="button-register-client">
  <button mat-raised-button color="primary" [routerLink]="['/listarcliente']">Listar Pedidos</button>
  <button mat-raised-button color="primary">Pagar</button>
  <button mat-raised-button color="primary" [routerLink]="['/cadastrarcliente']"(click)="inserirCliente()">Cadastrar Cliente</button>
</div>
  </mat-card>


